:local(.styles) {
  margin-bottom: 20px;
  overflow: scroll;
  overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  .media-left {
    width: 30%;
  }
  .media-body {
    width: 70%;
  }
  .list-group {
    height: 500px;
  }
  .add-button {
    cursor: pointer;
    top: -15px;
    height: 0px;
  }
}
